html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #01002C;
    overflow: hidden;
    color: #FFF;

    position: relative;

    font-family: "Fugaz One", serif;
}

h1 {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#position {
    font-size: 5em;
    text-align: center;
}

div.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 20%;
}

label {
    font-family: "Fugaz One";
    font-size: 40px;
    color: #EEE;
}

input {
    color: #000;

    width: 200px;
    height: 20px;

    margin: 10px 0 20px 0;
}

button {
    font-size: 16px;

    color: #EEE;

    background-color: #E76D28;
    width: 150px;
    height: 50px;
    border: 2px solid #EEE;

    border-radius: 50px;
}

div#timer {

    justify-content: center;
    align-items: center;

    position: absolute;
    top: 4%;
    right: 4%;

    display: none;

    font-family: "Fugaz One", serif;
    font-size: 30px;
}


.menu-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: none;
    justify-content: center;
    align-items: center;

}

.menu-relative{
    position:relative;

    width: 300px;
    max-width: 300px;
    height: 400px;

    padding: 30px;

    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;

    background: linear-gradient(270deg, #0054A6 0%, #48A4FF 100%);;
    border: 4px solid #E76D28;
    border-radius: 25px;

}

.bouton-fermer{
    position:absolute;
    right: 30px;
    top:30px;
}

.bouton-menu{
    font-family: "Baloo Tammudu 2", serif;
    font-size: 24px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.interface-settings{
    position:absolute;

    left: 20px;
    top:20px;

    display:none;
}


