html, body {

    background-color: #01002C;

    color: #FFF;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;

    position: relative;

    overflow: hidden;
}

.intro{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;

}


.conteneur-credit{
    display: none;

    position: absolute;
    top: 5%;
    left: 20%;
}

.fermer{
    width: 2%;
    height: 2%;

    position: absolute;
    top:12%;
    right: 2%;

}

.credit p{
    font-family:"Baloo Tammudu 2", serif ;
    font-size: 20px;

    position: absolute;
    bottom: 0;
    right: 2%;

    opacity: 0;

    text-decoration: underline;

}


.conteneur-highscore {
    position: absolute;
    z-index: 999;
    left: 10%;
    top: 20%;

    display: none;
}

.conteneur-relative {
    position: relative;
}

.highscore-arcade, .highscore-ocean, .highscore-espace, .highscore-volcan , .highscore-jungle{
    position: absolute;

    left: 20%;
    top: 30%;

    color: white;

    font-family: "Fugaz One", serif;;

    font-size: 30px;

    margin: 0;
}

.conteneur-pointage-fin {
    position: absolute;
    z-index: 999;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;

    display: none;
    justify-content: center;
    align-items: center;

}

.fin-absolute {
    position: absolute;
    color: white;
    z-index: 1000;

    right: 0;
    left: 0;
    top: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    margin: 0;
}

h1.pointage-typo {
    font-family: "Fugaz One", serif;
    font-size: 30px;
}

.conteneur-tableau-classement {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    z-index: 999;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;

}

.contenu-classement {
    position: absolute;

    bottom: 7%;
    left: 23%;

    z-index: 1001;

    height: fit-content;

}

.classement-ul {
    list-style: none;
    padding: 0;

}

.classement-ul li {
    margin-bottom: 10px;
    height: 54px;
    max-height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.classement-li {
    background: rgba(238, 238, 238, 0.5);
    border: 4px solid #EEEEEE;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 111px 93px 93px 111px;

    width: 584px;
    max-height: 54px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.conteneur-tableau-classement .conteneur-relative{
    margin: 0 auto;
}

.pastille {
    width: 36px;
    height: 36px;

    border-radius: 50%;

    margin-right: 30px;

    background: rgba(238, 238, 238, 0.5);
    border: 2px solid #EEE;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.pastille-position{
    top:-3px;
    width: 140px;
    height: 54px;
    background: #EEEEEE;

    border: 2px solid #EEE;
    border-radius: 24px;

    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

}

.div-code {
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}


div.div-code p {
    color: #FFF;

    font-family: "Fugaz One", serif;
    font-size: 30px;

    opacity: 0;

    margin: 10px 0;
}


div.div-code p.qr{
    color: #FFF;

    font-family: "Baloo Tammudu 2", serif;
    font-size: 20px;

    opacity: 0;

}

div.div-code p.code{
   margin-bottom: 50px;

}

div#timer {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 4%;
    right: 4%;

    display: none;

    font-family: "FugazOne", serif;
    font-size: 50px;
}


